body {
  background-color: #411f5f;
  /* FYOP意識しつつ、トップページの画像背景色に合わせる */
  padding-top: 60px; /* メニューの高さに合わせて */
  margin: 0;
  min-height: 100vh; /* 画面高さ確保 */
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
  background-color: #411f5f;
  /* FYOP意識しつつ、トップページの画像背景色に合わせる */
}

/* PC向け：中央揃え */
nav ul {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  justify-content: center; /* 中央揃え */
}

/* スマホ向け：左揃え */
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: flex-start; /* 左揃えに切り替え */
    padding-left: 10px; /* 左端に少し余白を追加する場合 */
  }
}


nav ul li {
  flex: 0 0 auto;          /* 横幅を自動にしてスクロール対象にする */
  margin: 0 12px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(255, 55, 0);
  font-weight: bold;
}