h1 {
    color: whitesmoke;
    font-size: clamp(16px, 4vw, 24px);
    text-align: center;
    margin-bottom: 0;
    /* 下の余白を消す */
}

h2 {
    color: whitesmoke;
    font-size: clamp(14px, 3vw, 20px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-bottom: 0;
    /* 下の余白を消す */

}

.content-text {
    color: whitesmoke;
    max-width: 900px;
    width: 90%;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    /* 中央に枠、文章左詰め */
    padding: 16px 20px;
    line-height: 1.6;
    /* 右端で折り返す */
    background-color: rgba(255, 255, 255, 0.1)
        /* 少し透過*/
}