h1 {
    color: rgb(255, 77, 0);
    /* 炎のイメージ */
    font-size: clamp(32px, 6vw, 60px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-bottom: 0;
    /* 下の余白を消す */
}

h2 {
    color: rgb(255, 55, 0);
    font-size: clamp(14px, 2.5vw, 22px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-top: 0;
    /* 上の余白を消す */

}

p {
    color: whitesmoke;
    max-width: 900px;
    width: 90%;
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
    /* 中央に枠、文章左詰め */
    padding: 16px 20px;
    line-height: 1.7;
    /* 右端で折り返す */
    background-color: rgba(255, 255, 255, 0.1)
        /* 少し透過*/
}

/* 横並び用の親コンテナ */
.ranking-wrap {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; /* 狭い画面では縦並びに */
}

/* ランキングボックス */
.ranking-box {
    width: 480px;   /* 100%じゃなく固定幅に */
    margin-bottom: 2rem;
    border-collapse: collapse;
    color: whitesmoke;
}

/* テーブル内要素 */
.ranking-box th,
.ranking-box td {
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: center;
    font-size: 0.9rem;
}

.ranking-box th {
    background-color: rgb(255, 77, 0);
    color: whitesmoke;
    font-weight: bold;
    font-size: 1rem;
}

.ranking-box tr:nth-child(even) {
    background-color: #533269;
}

.ranking-box tr:nth-child(odd) {
    background-color: #411f5f;
}

.rank-gold td  {
  color: #FFD700; /* 金 */
  font-weight: bold;
}

.rank-silver td {
  color: #F5F5F5; /* 明るめシルバー */
  font-weight: bold;
}

.rank-bronze td {
  color: #CD7F32; /* ブロンズ */
  font-weight: bold;
}
.rank-gold td:nth-child(2),
.rank-silver td:nth-child(2),
.rank-bronze td:nth-child(2) {
    font-size: 1.1rem; /* 名前だけ文字サイズを大きく */
}

