h1 {
    color: rgb(255, 77, 0);
    /* 炎のイメージ */
    font-size: clamp(32px, 6vw, 60px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-bottom: 0;
    /* 下の余白を消す */
}

h2 {
    color: rgb(255, 55, 0);
    font-size: clamp(14px, 2.5vw, 22px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-top: 0;
    /* 上の余白を消す */
}

h3 {
    color: rgb(255, 77, 0);
    font-size: clamp(14px, 2.5vw, 22px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-top: 0;
    margin-bottom: 0;
    /* 上下の余白を消す */
}

h4 {
    color: rgb(255, 55, 0);
    font-size: clamp(10px, 2.5vw, 18px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-top: 0;
    margin-bottom: 0;
    /* 上下の余白を消す */
}

h5 {
    color: rgb(255, 77, 0);
    font-size: clamp(7px, 2.5vw, 15px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-top: 0;
    /* 上の余白を消す */
}

.content-text {
    color: rgb(255, 77, 0);
    font-size: clamp(14px, 2.5vw, 22px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-top: 0;
    margin-bottom: 0;
    /* 上の余白を消す */
}

.btn-wrapper,
.search-btn-wrapper {
    display: flex;
    justify-content: center;/* 中央に配置*/
    width: 100%;
    margin-bottom: 32px; /* 検索ボタンの下に余白（検索結果までの距離） */
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.condition {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.search-form select,
.search-form button {
    width: 240px;
    padding: 8px;
    font-size: 14px;
}

.search-form button {
    cursor: pointer;
}

.btn-group {
    display: flex;
    gap: 16px;           /* 追加・削除ボタンの間隔 */
    margin-top: 32px;   /* プルダウンと追加・削除ボタンとの距離 */
    margin-bottom: 24px; /* 追加・削除ボタン群と検索ボタンとの距離 */
    justify-content: center;/* 中央に配置*/
}

select {
    margin-bottom: 12px;
}
