  /* 背景画像を表示 */
body::before {
    content: '';
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/firebass.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}


h1 {
    color: rgb(255, 77, 0);
    /* 炎のイメージ */
    font-size: clamp(32px, 6vw, 60px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-bottom: 0;
    /* 下の余白を消す */
}

h2 {
    color: rgb(255, 55, 0);
    font-size: clamp(14px, 2.5vw, 22px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    background-color: rgba(27,28,98,0.85);  /* 背景色 */
    display: block;              /* これで margin:auto が効く */
    width: fit-content;          /* 幅を文字に合わせる */
    margin: 0 auto 10px auto;    /* 上下10px、左右中央 */
    margin-top: 0;
    /* 上の余白を消す */

}

h3 {
    color: whitesmoke;
    font-size: clamp(16px, 2.5vw, 32px);
    text-align: center;
    margin-bottom: 100px;
}

h4 {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;/* 文字中央揃え */
    background-color: rgba(27,28,98,0.85);
    padding: 8px 12px;
    border-radius: 6px;
    display: block;
    width: fit-content;/* 幅を文字に合わせる */
    font-size: 16px;
    padding: 8px 12px;
    display: block;      
    margin: 0 auto 10px auto;    /* 上下10px、左右中央 */
    margin-bottom: 0;
    /* 下の余白を消す */
}

.content-text {
    color: whitesmoke;
    max-width: 500px;
    width: 50%;
    border: 1px solid whitesmoke;
    background-color: rgba(27,28,98,0.85);
    font-size: 15px;
    margin: 20px auto 40px auto;
    padding: 15px 20px;
    line-height: 1.7;
    box-sizing: border-box;
    border-radius: 6px;
    display: block;
    margin-top: 0;
}
