h1 {
    color: rgb(255, 77, 0);
    /* 炎のイメージ */
    font-size: clamp(32px, 6vw, 60px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-bottom: 0;
    /* 下の余白を消す */
}

h2 {
    color: rgb(255, 55, 0);
    font-size: clamp(14px, 2.5vw, 22px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-top: 0;
    margin-bottom: 0;
    /* 上下の余白を消す */
}

h3 {
    color: rgb(255, 77, 0);
    font-size: clamp(11px, 2.5vw, 18px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
    margin-top: 0;
    /* 上の余白を消す */
}

.song-table {
    width: 480px;   /* 100%じゃなく固定幅に */
    margin-bottom: 2rem;
    border-collapse: collapse;
    color: whitesmoke;
}

.song-table th {
  border: 1px solid whitesmoke;
  padding: 8px;
  text-align: center;      /* 中央揃え */
  background-color: rgb(255, 77, 0);
  color: whitesmoke;
  font-weight: bold;
  font-size: 1rem;      
  white-space: nowrap; /* 改行せず横スクロールさせる */   
}

.song-table td {
  border: 1px solid whitesmoke;
  padding: 8px;
  text-align: center;      /* 中央揃え */
  font-size: 0.7rem;       /* データセルは少し小さく */
  word-break: break-word;
  white-space: nowrap; /* 改行せず横スクロールさせる */
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;      /* 横スクロールを許可 */
    display: flex;         /* フレックスで中央揃え */
    justify-content: center; /* 中央寄せ */
}

.song-link {
    color: rgb(255, 77, 0);
    font-size: clamp(10px, 2.5vw, 18px);
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.7);
}

